
$skunk-primary: #1f033f;
$skunk-emphasis: #591c9f;
$skunk-emphasis-light: #b289e0;
$skunk-emphasis-dark: #1e023d;

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background: black;
    font-family: monospace;
    font-size: smaller;
}

a {
    color: $skunk-emphasis;

    &:hover {
        color: $skunk-emphasis-light;
    }
}

.page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 1em;

    h1 {
        font-size: x-large;
        margin-bottom: 1em;
    }

    h2 {
        font-size: larger;
    }

    :global(.bi) {
        margin-right: 0.5em;
    }

    p {
        margin-left: 1em;
    }
}

:global(.form-select) {
    font-size: smaller;
    padding: 2px;
}