
.welcome {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

    img {
        $size: 15em;
        width: $size;
        height: $size;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }
}


.socials {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

    a {
        margin-left: 0.5em;
        color: white;
        text-decoration: none;
        font-size: larger;

        &:hover {
            color: $skunk-emphasis-light;
        }
    }
}

.actions {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;

    a {
        text-decoration: none;
    }
}